.a {
    width: 100%;
    margin: auto;
    background: rgb(242, 240, 242);
    font-family: 
}

.gridandflex {

    display: grid;
    grid-template-columns: auto auto auto;
}

.departure-info {
    background: rgb(255, 254, 255);
    justify-items: center;
}

.flight-info {
    background: rgb(255, 254, 255);
    justify-items: center;
}

.departure-info p {
    color: rgb(2, 26, 60);
}
