.sizing {
    width: 100%;
    font-family: 'dosis', sans-serif;
    margin: 0;
    padding: 0;
}
header img {
    width: 100%;
    margin: 0;
    padding: 0;
}
header h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: rgb(0, 86, 196);
    font-size: 200%;
    text-align: center;
    background-image: linear-gradient(white, rgb(255, 208, 0));
    margin: 0;
    padding: 0;
}
nav ul {
    margin: 0 auto;
    background-color: rgb(255, 208, 0);
}

#navigation ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    overflow: hidden;
    font-family: 'Shadows Into Light', cursive;
}
#navigation ul li:first-child {
    display: block;
    text-align: right;
}
.breadcrums i {
    color: white;
    
}
#navigation ul li {
    display: none;
}
#navigation ul a:link,
#navigation ul a:visited,
#navigation ul a:hover,
#navigation ul a:active,
#navigation ul a:focus {
    display: block;
    font-size: 200%;
    text-decoration: none;
    color: rgb(19, 105, 180);
    margin: 0;
    padding: 0;
}
#navigation a:hover {
    background-color: rgb(255, 247, 210);
    color: rgb(6, 139, 255);
}
#navigation.responsive li {
    display: block;
    text-align: center;
}                                               /*end Nav*/

#advertizement {  /*leave advertizement here*/
    display: block;
    text-align: center;
    background: rgb(255, 208, 0);
    margin: 0;
    font-size: 300%;
    padding: 0%;
}

#heroImage article:nth-child(1) { /*Coding for the middle*/
    margin: 5% 2% 5%;
}

#heroImage article:nth-child(1) img {
    width: 100%;
    vertical-align: bottom;
}

#heroImage article:nth-child(2) {
    margin: 0% 2% 0%;
    padding-bottom: 5%;
    border: 1px solid grey;
    background-color: rgb(245, 245, 245);
    border-bottom: none;
}

#heroImage article:nth-child(2) h1 {
    border-bottom: 1px solid rgb(6, 139, 255);
    margin: 0% 20% 5%;
}

#heroImage article:nth-child(3) {
    margin: 0 2% 5%;
}

#heroImage article:nth-child(3) img {
    width: 100%;
    vertical-align: bottom;
}

#forecastJava {
    display: none;
}

#bestbox {
    background: white;
    padding-top: 10%;
    margin: 5% 2% 0;
}

#bestbox img {
    width: 100%;
    vertical-align: bottom;
}

#forecast {
    display: grid;
    grid-template-columns: 1fr;
}

#forecast article:nth-child(1) {
    margin: 5% 2% 0;
    margin-bottom: 0;
    padding: 0;
    background-color: rgb(206, 206, 206); 
    border: 1px solid grey;
    border-bottom: 0;
}

#forecast article:nth-child(1) h1 {
    margin: 0;
}

#forecast article:nth-child(3) {
    margin: 0% 2% 0%;
    margin-top: 0;
    padding: 5% 0 5%;
    background-color: rgb(245, 245, 245);
    border: 1px solid grey;
    border-top: 0;
    border-bottom: 0;
    clear: none;
    grid-row: 2;
}

#forecast article:nth-child(2) {
    margin: 0% 2% 2.5%;
    grid-row: 3;
}

#forecast article:nth-child(2) img {
    width: 100%;
    vertical-align: bottom;
}

article p, article a, article li {
    padding: 0 2.5% 0;
    margin: 0;
    font-size: 150%;
    color: rgb(83, 83, 83); 
    font-weight: bold; 
}

article h1 {
    text-align: center;
    padding-top: 5%;
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    color: rgb(0, 89, 169);
}                                       /*coding for the middle*/
footer {                                        /*footer*/
    background:rgb(255, 208, 0);
    padding: 1% 2% 1%;
    color: rgb(19, 105, 180);
}
#contactInfo {
    margin-left: 5%;
}
#twitter, #instagram, #facebook {
    display: none;
}
#logo img {
    width: 105px;
    box-shadow: -2px 2px 5px;
}
#logo {
    border-radius: 10%;
    float: right;
    width: 20%;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index:20;
    margin: 0 5% 10% 0;
}
#logo:before,
#logo:after {
    content:"";
    background-color: rgb(19, 105, 180);
    border-radius: 50%;
    display:block;
    position:absolute;
    z-index: -1;
}
#logo:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px rgb(19, 105, 180);
}
#logo:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0   rgb(19, 105, 180),
              -28px -6px 0 -2px rgb(19, 105, 180),
              -24px 17px 0 -6px rgb(19, 105, 180),
              -5px 25px 0 -10px rgb(19, 105, 180);
    
} 
#iframe {
    text-align: center;
    margin: 0 5% 0 5%;
}
iframe {
    box-shadow: 0 8px 15px rgb(100, 100, 100);
    width: 100%;
    max-width: 1000px;
    height: 300px;
}
footer a, 
footer a:link, 
footer a:visited, 
footer a:hover, 
footer a:active, 
footer a:focus {
    color: rgb(19, 105, 180);
}

footer p, footer a {
    font-size: 125%;
}     
#footer {
    text-align: center;
}
#stormPage {
    display: none;
}


