@media only screen and (min-width: 45.5em) {
    #heroImage {  /*coding for the middle*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 550px;
        padding: 0;
        margin: 2% 2% 0%;
    }

    #heroImage article:nth-child(1) {
        grid-column: 1/ -1;
        grid-row: 1;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 550px;
    }

    #heroImage article:nth-child(1) img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #heroImage article:nth-child(2) { 
        grid-column: 1;
        grid-row: 1;
        height: 45%;
        margin: 5% 0 115% 5%;
        background: rgba(245, 245, 245, 0.728);
        box-shadow: 0 2px 8px rgb(0, 46, 99);
        border: none;
    }

    #heroImage article:nth-child(3) {
        display: none;
    }
    .leftbox{
        position:relative;
        align-items:center;
        justify-content:center;
        text-align:center;
        z-index: 20;
    }
    #heroImage article:nth-child(2) {
        padding-bottom: 20%;
    }
    .leftbox:before,
    .leftbox:after{
        content:"";
        background-color:rgba(245, 245, 245, 0.728);
        border-radius:50%;
        display:block;
        position:absolute;
        z-index:-1;
    }
    .leftbox:before {
        width:44px;
        height:44px;
        bottom:-12px;
        right:28px;
        box-shadow:-50px 30px 0 -12px rgba(245, 245, 245, 0.728);
    }
    .leftbox:after{
        top:-10px;
        left:26px;
        width:30px;
        height:30px;
        box-shadow:
                  -28px -6px 0 -2px rgba(245, 245, 245, 0.728),
                  -24px 17px 0 -6px rgba(245, 245, 245, 0.728),
                  -5px 25px 0 -10px rgba(245, 245, 245, 0.728);
        
    } 

    #forecastJava {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        height: 100%;
        margin: 1% 0% 2%;
        text-align: center;
        gap: .5%;
    }    

    #forecastJava p {
        padding-bottom: 5%;
    }

    #forecastJava h1 {
        background: rgb(25, 117, 74); 
        color: white;
    }

    #forecastJava section {
        display: grid;
        grid-template-rows: 50px 75px 60px 50px;
        border: 3px solid rgba(255, 208, 0, 0.815);
        box-shadow: 0 2px 3px grey;
    }

    #forecast img {
        width: 60%;
        margin: auto auto;
    }

    #forecastJava h2 {
        background: rgb(255, 208, 0, 0.815);
        width: 100%;
        padding: 5% 0 5% 0;
        margin: 0;
    }

    #forecast article h1:nth-child(1) {
        color: rgb(25, 117, 74);
    }

    #bestbox {
        display: none;
    }

    #forecast {
        display: inherit;
    }

    #forecast article:nth-child(1) {
        margin: 2% 2% 0;
        background-color: white;
        border: none;
        box-shadow: none;
    }

        
    #forecast article h1:nth-child(1) {
        text-align: left;
        padding: 0;
        margin: 0;
    }

    #forecast article:nth-child(2) {
        float: right;
        margin: 2.5% 5% 0 0;
        width: 25%;
        box-shadow: 3px 2px 8px gray;
    }  

    #rightbox h2{
        display: block;
        padding: 0;
        font-size: 200%;
        margin: 0 56.6% 1% 2.5%;
        font-family: 'Shadows Into Light', cursive;
        border-bottom: 1px solid grey;
        color: rgb(25, 117, 74);
    }
    
    #forecast article:nth-child(3) {
        margin-bottom: 2%;
        border: 1px solid black;
    }                       /*coding for the middle*/

    /*extra footer stuff*/

    #contactInfo p a {
        margin-left: 8%;
    }
    

    #footerGrid { /*footer*/
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        grid-row-gap: 8.5%;
    }
    #logo {
        margin: 0;
        margin-left: 50%;
        margin-top: 5%;
        padding: 0;
        grid-row: 1;
        grid-column: 3;
    }
    #stormPage {
        display: block;
        grid-row: 1;
        grid-column: 2;
        padding: 1%;
        font-size: 90%;
        margin: 15% 0% 5% 5%;
        border-radius: 20px;
        background: rgb(19, 105, 180);
        height: 50%;
        box-shadow: 0px 4px 5px rgb(100, 100, 100);
    }
    #stormPage:hover {
        background:rgb(6, 102, 57); 
    }
    #stormPage a:link,
    #stormPage a:visited,
    #stormPage a:hover,
    #stormPage a:active,
    #stormPage a:focus {
        display: block;
        text-decoration: none;
        color: white;
    }
    #iframe {
        grid-row: 2;
        grid-column: 1/-1;
        margin-bottom: 7%;
    }
}