body {
    width: 99vw;
    background: white;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.a {
    width: 100%;
    font-size: 1vw;
}  
header h1 {
    font-size: 2.9vw;
    margin-left: 7vw;
}
#title, footer {
    background:rgb(204, 237, 253);
    margin: 4vw 21vw 4vw; 
    padding: .1vw .2vw .1vw .2vw; 
    border-radius: 2vw;
}
header img {
    width: 15vw;
    height: 18vw;
    border-radius: 0.3vw 2vw 0.3vw 0.3vw;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.2), 0 1.5vw 3vw 0 rgba(0, 0, 0, 0.19);
    float: right;
    object-fit: cover;
    margin: .9% 22% 0% 0%;
}
main h2 {
    font-size: 2vw;
    margin: 0vw 24vw .5vw 21.5vw;
    border-bottom: .1vw solid black;
}
main ul {
    margin: 0vw 0vw 0vw 21.5vw;
    list-style-position: outside;
    font-size: 1.8vw
}
footer {
    text-align: center;
    padding: 1vw;
    border-radius: 1vw;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: black;
}