body {
    width: 99vw;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
img {
    width: 15vw;
    height: 18vw;
    border-radius: 0.3vw 2vw 0.3vw 0.3vw;
    box-shadow: 0 0 1vw black;
    object-fit: cover;
}
.grid-container {
    display: grid;
    height: 100vh;
    width: 99vw;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.box1 {
    grid-area: box1;
    background: white;

}

.box2 {
    grid-area: box2;
    background: white;
}

.box3 {
    grid-area: box3;
    background: white;
    
}
