#gray { 
    -webkit-filter: grayscale(1);
}
.sizing {
    width: 100%;
    font-family: 'dosis', sans-serif;
    margin: 0;
    padding: 0;
}
header img {
    width: 100%;
    margin: 0;
    padding: 0;
}
header h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: rgb(0, 86, 196);
    font-size: 200%;
    text-align: center;
    background-image: linear-gradient(white, rgb(255, 208, 0));
    margin: 0;
    padding: 0;
}
nav ul {
    margin: 0 auto;
    background-color: rgb(255, 208, 0);
}

#navigation ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    overflow: hidden;
    font-family: 'Shadows Into Light', cursive;
}
#navigation ul li:first-child {
    display: block;
    text-align: right;
}
.breadcrums i {
    color: white;
    
}
#navigation ul li {
    display: none;
}
#navigation ul a:link,
#navigation ul a:visited,
#navigation ul a:hover,
#navigation ul a:active,
#navigation ul a:focus {
    display: block;
    font-size: 200%;
    text-decoration: none;
    color: rgb(19, 105, 180);
    margin: 0;
    padding: 0;
}
#navigation a:hover {
    background-color: rgb(255, 247, 210);
    color: rgb(6, 139, 255);
}
#navigation.responsive li {
    display: block;
    text-align: center;
}                                               /*end Nav*/
h2 {                                                        /*weather Title*/
    padding: 0 2.5% 0;
    margin: 2% 2% 0% 2%;
    font-size: 275%;
    color: rgb(83, 83, 83);
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    list-style: none;
}                                                           /*Weather Title*/

#grid {                                                     /*picture display*/
    display: grid;
    margin: 0 10% 5%;
    padding: none;
}

.pic {
    margin: 5%;
    padding-bottom: 5%;
    box-shadow: 0 0 8px #333;
    -webkit-filter: grayscale(1);
}

.pic p {
    margin: 3% 0 0 2%;
    padding-bottom: 5%;
    font-size: 150%;
}

.pic:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.pic img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}                                                                         /*picture display*/

footer {                                        /*footer*/
    background:rgb(255, 208, 0);
    padding: 1% 2% 1%;
    color: rgb(19, 105, 180);
    -webkit-filter: grayscale(1);
}
#contactInfo {
    margin-left: 5%;
}
#twitter, #instagram, #facebook {
    display: none;
}
#logo img {
    width: 105px;
    box-shadow: -2px 2px 5px;
}
#logo {
    border-radius: 10%;
    float: right;
    width: 20%;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index:20;
    margin: 0 5% 10% 0;
}
#logo:before,
#logo:after {
    content:"";
    background-color: rgb(19, 105, 180);
    border-radius: 50%;
    display:block;
    position:absolute;
    z-index: -1;
}
#logo:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px rgb(19, 105, 180);
}
#logo:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0   rgb(19, 105, 180),
              -28px -6px 0 -2px rgb(19, 105, 180),
              -24px 17px 0 -6px rgb(19, 105, 180),
              -5px 25px 0 -10px rgb(19, 105, 180);
    
} 
#iframe {
    text-align: center;
    margin: 0 5% 0 5%;
}
iframe {
    box-shadow: 0 8px 15px rgb(100, 100, 100);
    width: 100%;
    max-width: 1000px;
    height: 300px;
}
footer a, 
footer a:link, 
footer a:visited, 
footer a:hover, 
footer a:active, 
footer a:focus {
    color: rgb(19, 105, 180);
}

footer p, footer a {
    font-size: 125%;
}     
#footer {
    text-align: center;
}
#stormPage {
    display: none;
}


