#body {
    display: block;
}
header {
    width: 84%;
    margin-left: 12%;
    height: 70px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin-top: 0;

    .home {
        width: 18%;
        margin-left: 78%;
    }
}
#top {
    width: 12%;
    position: sticky;
    top: 0;
    align-self: start;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100%;
    box-shadow: 1px 1px 5px grey;
    background: rgba(255, 208, 0, 0.329);
    float: left;
    margin-top: 0;
    padding-top: 0;

    li:first-child {
        display: none;
    }

    li {
        display: block;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    a:link,
    a:visited,
    a:hover, 
    a:active,
    a:focus {
        display: block;
        font-size: 130%;
        text-decoration: none;
        margin: 2%;
        padding: 0; 
    }
}
#navigation.responsive li {
    display: block;
    text-align: center;
}  
#navigation li:nth-child(9) {
    display: block;
}
#navigation.response li:nth-child(6), #navigation.response li:nth-child(7) {
    bottom: 0%;
    left: 100%;
    top: 620px;
    right: 0;
    width: 25%;
    background: rgb(202, 238, 255);
    padding: 5% 100% 30% 7%;
    text-align: left;
}
#navigation.response li:nth-child(7) {
    top: 690px;
}


//some main stuff...
main {
    width: 83%;
    margin-left: 14.5%;
}








footer {
    margin: 0;
    padding: 0 0 0;
    width: 88%;
    margin-left: 12%;
    div section {
        margin: 0 auto;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    div section:last-child {
        grid-column: 3;
        display: block;
        margin: 0 auto;
        padding: 0;
        h3 {
            font-size: 100%;
        }
        h3:first-child, .black {
            font-size: 110%;
            color: rgb(75, 75, 75);
        }
    }
    h3 a:hover {
        border-bottom: 2px solid rgb(0, 136, 255);
        color: rgb(0, 136, 255);
    }
    .section {
        margin: 0% 2%;
        padding: 5.3%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;

        .span {
            grid-row: 1/span 4;
            grid-column: 1;
        }
        h3, p, a {
            border-bottom: none;
            margin: auto 0;
        }
        h3 a {
            border-bottom: 3px solid gray;
        }
        h3 a:hover {
            border-bottom: 3px solid rgb(0, 136, 255);
        }
        .spantwo {
            grid-column: 2/ span 2;
        }
    }
}
