@import "normalize";

@import "nav-footer-header";
main h2 {
    text-align: center;
    font-size: 300%;
}
form {
    width: 100%;
    .input, .select, .check {
        font-size: 50%;
    }
    .input {
        input {
            display: block;
            min-height: 44px;
            width: 98.5%;
            margin-bottom: 5%;
        }
        select {
            display: block;
            min-height: 44px;
        }
    }
    .check {
        width: 100%;
        label {
            width: 100%;
            margin-bottom: 50%;
            padding: 0;
            margin-bottom: 5%;
        }
        input {
            height: 20px;
            width: 10%;
            margin: 24px 0 0;
        }
        #historyThemed {
            margin: 12px 0 12px;
        }
    }
    .select {
        select {
            height: 44px;
            width: 100%;
        }
        #templeLocation {
            margin-bottom: 5%;
        }
    }
    //#left #roomdeats #mawwage #payment #button #right <!--- In this Order!!! --->

    #roomdeats{
        display: block
    } 
    #mawwage, #payment, #button {
        display: none;
    }
    .noBorder {
        border: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 16px 1fr;
        legend {
            grid-column: 1/span 3;
            font-size: 180%;
        }
        #month {
            width: 97%;
            height: 49px;
        }
        #year {
            width: 97%;
            height: 49px;
        }
    }
    #comment {
        height: 250px;
        font-size: 70%;
        width: 100%;
    }
    button {
        text-align: center;
        height: 140px;
        width: 60%;
        font-weight: bold;
        background: gold;
        border: none;
        float: right;
        border-radius: 20px;
    }
    button:hover {
        background: rgb(140, 201, 255);
    }
    input:required, select:required {
        border-left: red solid 6px;
    }
    input:required:valid, select:required:valid {
        border-left: green solid 6px;
    }
}

#left { 

    background: rgb(140, 201, 255);
    border-radius: 20px;
    padding: 5%;
    min-height: 44px;
    margin-right: 65%;  
    margin-top: 5%;  
    a:hover {
        font-size: 100%;
        border: none;
        color: gold;
    }
}
#right {
    float: right;
    background: gold;
    border-radius: 20px;
    padding: 5%;
    min-height: 44px;
    font-weight: bold;
    margin-top: 5%; 
    a:hover {
        font-size: 100%;
        color: rgb(0, 136, 255);
        border: none;
    }
}






@media only screen and (min-width: 560px) {
    @import "nav-footer-header-medium";
} /* end of media query */
 
 
@media only screen and (min-width: 728px) {
    @import "nav-footer-header-large";
    #left {
        margin: 0;
        margin-left: 20%;
        width: 10%;
        margin-top: 5%;
        font-size: 200%;
    }
    #right {
        margin-right: 20%;
        font-size: 200%;
    }
    form {
        width: 60%;
        margin-left: 20%;
        .input, .select, .check {
            font-size: 150%;
        }
        legend {
            font-size: 300%;
            font-weight: bold;
        }
        .noBorder {
            legend {
                font-size: 250%;
            }
        }
        #comment {
            font-size: 200%;
        }
        button {
            font-size: 200%;
        }
    }
}