.sizing {
    width: 100%;
    font-family: 'dosis', sans-serif;
    margin: 0;
    padding: 0;
}
header img {
    width: 100%;
    margin: 0;
    padding: 0;
}
header h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: rgb(0, 86, 196);
    font-size: 200%;
    text-align: center;
    background-image: linear-gradient(white, rgb(255, 208, 0));
    margin: 0;
    padding: 0;
}
nav ul {
    margin: 0 auto;
    background-color: rgb(255, 208, 0);
}

#navigation ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    overflow: hidden;
    font-family: 'Shadows Into Light', cursive;
}
#navigation ul li:first-child {
    display: block;
    text-align: right;
}
.breadcrums i {
    color: white;
    
}
#navigation ul li {
    display: none;
}
#navigation ul a:link,
#navigation ul a:visited,
#navigation ul a:hover,
#navigation ul a:active,
#navigation ul a:focus {
    display: block;
    font-size: 200%;
    text-decoration: none;
    color: rgb(19, 105, 180);
    margin: 0;
    padding: 0;
}
#navigation a:hover {
    background-color: rgb(255, 247, 210);
    color: rgb(6, 139, 255);
}
#navigation.responsive li {
    display: block;
    text-align: center;
}                                               /*end Nav*/

main {
    background: rgba(25, 228, 25, 0.048);
}

form {
    padding: 2% 5% 5%;
}

form fieldset {
    background: rgb(241, 241, 241);
}

h1 {
    color: rgb(19, 105, 180);
    margin-left:1%;
}

.button {
    border: none; 
    background: rgb(19, 105, 180);
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    border-radius: 50px;
    font-weight: 900;
    width: 100%;
    height: 100px;
    padding: 1%;
    margin: 5% 0 0 0;
}
.button:hover {
    background:rgb(6, 102, 57);
}

.input, .radio {
    margin: 7% 0 7%;
    font-weight: bold;
}

.input input, .data input, #stormRegion select{
    display: block;
    height: 44px;
    border:none;
    border-bottom: 1px solid grey;
    color: black;
    background: rgba(255, 255, 255, 0.897);
    width: 97%;
    margin-top: 2%;
}

form label input:required, #stormRegion select:required {
    border-left: red solid 6px;
}
form label input:required:valid, #stormRegion select:required:valid {
    border-left: green solid 6px;
}

.radio input {
    display: block; 
    height: 44px;
    margin-bottom: 5%;
    width: 5%;
}
.radio label {
    font-weight: normal;
}
#comment {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}
legend {
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
}
#stormSeverity p {
    display: inline;
    float: left;
    margin: 2% 0 0 0;
    padding: 0;
}
#stormSeverity p:nth-child(2){
    float: right;
}

/*Thanks Page*/
#thanksBack {
    background: rgb(19, 105, 180); 
}
#thanks {
    font-size: 200%;
    text-align: center;
    background:white;
    margin: 0 10%;
    padding: 5%;
    color: rgb(19, 105,180);
    font-weight: 900;
    border-radius: 50px;
}



footer {                                        /*footer*/
    background:rgb(255, 208, 0);
    padding: 1% 2% 1%;
    color: rgb(19, 105, 180);
}
#contactInfo {
    margin-left: 5%;
}
#twitter, #instagram, #facebook {
    display: none;
}
#logo img {
    width: 105px;
    box-shadow: -2px 2px 5px;
}
#logo {
    border-radius: 10%;
    float: right;
    width: 20%;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index:20;
    margin: 0 5% 10% 0;
}
#logo:before,
#logo:after {
    content:"";
    background-color: rgb(19, 105, 180);
    border-radius: 50%;
    display:block;
    position:absolute;
    z-index: -1;
}
#logo:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px rgb(19, 105, 180);
}
#logo:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0   rgb(19, 105, 180),
              -28px -6px 0 -2px rgb(19, 105, 180),
              -24px 17px 0 -6px rgb(19, 105, 180),
              -5px 25px 0 -10px rgb(19, 105, 180);
    
} 
#iframe {
    text-align: center;
    margin: 0 5% 0 5%;
}
iframe {
    box-shadow: 0 8px 15px rgb(100, 100, 100);
    width: 100%;
    max-width: 1000px;
    height: 300px;
} 
footer a, 
footer a:link,  
footer a:visited, 
footer a:hover, 
footer a:active, 
footer a:focus {
    color: rgb(19, 105, 180);
}

footer p, footer a {
    font-size: 125%;
}     
#footer {
    text-align: center;
}
#stormPage {
    display: none;
}


