@media only screen and (min-width: 50em) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 250px);
    }

    section:nth-child(1) {                /* placement on grid*/
        grid-row: 1/ span 2;
        grid-column: 1/ span 1;
    }
     
    section:nth-child(2) {
        grid-row: 1/ span 1;
        grid-column: 2/ span 1;
    }
    
    section:nth-child(3) {
        grid-row: 1/ span 1;
        grid-column: 3/ span 1;
    }
    
    section:nth-child(4) {
        grid-row: 2/ span 1;
        grid-column: 2/ span 1;
    }                  
    
    section:nth-child(5) {
        grid-row: 2/ span 2;
        grid-column: 3/ span 1;
    }
    
    section:nth-child(6) {
        grid-row: 3/ span 2;
        grid-column: 1/ span 2;
    }
    
    section:nth-child(7) {
        grid-row: 4/ span 1;
        grid-column: 3/ span 1;
    }
    
    section:nth-child(8) {
        grid-row: 5/ span 1;
        grid-column: 1/ span 1;
    }
    
    section:nth-child(9) {
        grid-row: 5/ span 2;
        grid-column: 2/ span 2;
    }                                   
    
    section:nth-child(10) {
        grid-row: 6/ span 1;
        grid-column: 1/ span 1;
    }     

    img {                         
        width: 100%;
        height: 250px;
    }                                      

    picture img {
        height: 503px;
    }

    .back {
        min-width: 100px;
        min-height: 250px;
    }

    .red {
        min-width: 300px;
        min-height: 503px;
    }

    .backblue::before {
        left: -250px;
        width: 250px;
    }

    .pic::before {
        left: -500px;
        width: 503px;
    }

    @keyframes load {
        0% {
            left: -100px;
        }
        100% {
            left: 100%;
        }
    }

    @keyframes loada {
        0% {
            left: -503px;
        }
        100% {
            left: 100%;
        }
    }
}
