body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#grid {
    display: grid;
    gap: 3px;
    padding: none;
    margin: none;
}

img, picture img {                                   /*adjust image sizes*/
    /* really cool code from peer that I've selfishly stolen and will keep.
    -webkit-filter: grayscale(1); */
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: none;
    margin: none;
    background: grey;
}                                      /*end adjust image sizes*/

/* really cool code from peer that I've selfishly stolen and will keep.
img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    } */

.back {                                  /*background img color stuff*/
    background-color: rgb(72, 212, 255);
    min-width: 20px;
    min-height: 50px;
    position: relative; 
}

.red {
    background-color: pink;
    min-width: 50px;
    min-height: 103px;
    position: relative;
}                                         /*end background img color stuff*/

.backblue::before {                       /*div-box color stuff*/
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(to right, transparent 0%, rgb(72, 212, 255) 50%, transparent 100%);
    animation: load 2s;
    z-index: 50;
}

.pic::before {
    content: '';
    display: block;
    position: absolute;
    left: -103px;
    top: 0;
    height: 100%;
    width: 103px;
    background: linear-gradient(to right, transparent 0%, pink 50%, transparent 100%);
    animation: loada 2s;
    z-index: 50;
}                                           /*div-box color stuff*/

.backblue, .pic {                           /*div-box settings*/
    display: inline-block;
    position: relative;
    overflow: hidden;
}                                           /*end div-box settings*/

@keyframes load {                           /*loading images*/
    0% {
        left: -50px;
    }
    100% {
        left: 100%;
    }
}

@keyframes loada {
    0% {
        left: -103px;
    }
    100% {
        left: 100%;
    }
}

